#maven
target/
pom.xml
#idea
.idea/
*.iml
log/
#project
sinoairEDIServerXML/*
#configure file
src/main/resources/db.properties
src/main/resources/cainiao.properties
src/main/resources/correosManifestDsaPrivateKey
src/main/resources/correosTracesDsaPrivateKey

 

